pb-page[unresolved] {
      display: none;
  }
  body {
      --pb-view-height: calc(100vh - 200px);
      --pb-grid-column-gap: 2em;
      --pb-facsimile-height: calc(var(--pb-view-height) - 22px);
   --highlight: yellow;
   --pb-content-font-size: 16px;
   --radius: 1em 1em;
   --red-marking: red;
   --length: 0.2em;
   --nbrown: #5C4033;
   --red: #dc3545;
    --nblack2: #46494c;
  --typesetter_black: #373a3d;
  --blue: blue;
  }

 #view1 {
      flex: 1 1;
      display: flex;
      justify-content: center;
      min-width: 50%;
  } 
   #facsimile {
      flex: 1 1;
      height: var(--pb-facsimile-height);
  }
  
  
  #view1 pb-view {
      height: var(--pb-view-height);
      overflow: auto;
  }

  .content-body {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 0 20px;
  }
  
   pb-page[unresolved] pb-facsimile {
      display: none;
  }

  .content-body pb-facsimile {
      flex: 1 1;
     
  }
 .tei-line:after {
    content: ' ';
    display: block;
   
 }
