:root {
   --scroll-top: 128px;
}
pb-page[unresolved] {
   display: none;
}
body {
   --pb-view-height: calc(100vh - 200px);
}

#view1 {
 
   justify-content: center;
}

#view1 pb-view {
   height: var(--pb-view-height);
   overflow: auto;
}

.content-body {
   position: relative;
   display: flex;
   justify-content: center;
   padding: 0 20px;
   padding-bottom: 20px;
}
:target {
   scroll-margin-top: var(--scroll-top, 128px);
}
pb-page[unresolved] pb-facsimile {
   display: none;
} 

h1.year {
   margin-left: 20px;
   margin-right: 50px;
   margin-top: 0px;
   scroll-margin-top: var(--scroll-top, 128px);
}

pb-view {
   width: 50em;
   scroll-margin-top: var(--scroll-top, 128px);
}
.month {
   vertical-align: top;
   scroll-margin-top: var(--scroll-top, 128px);
}

