 pb-page[unresolved] {
            display: none;
        }
        body {
        --ed-content-font-family: SourceSerifRegular;
        --pb-base-font-family: SourceSansRegular;
        --pb-view-height: calc(100vh - 200px);
        --pb-grid-column-gap: 2em;
        --pb-facsimile-height: calc(var(--pb-view-height) - 22px);
         --highlight: yellow;
         --pb-content-font-size: 16px;
        --blue: blue;
         --nbrown: #9b6b56;
         --nred: #ff0000;
         --nblue: #0000ff;
         --red: #dc3545;
          --nblack2: #46494c;
          --nblack: #000000;
          --npencil: #9c9c9c;
        --typesetter_black: #808080;
        --fhblack: #808080;
        --blue: var(--nblue, blue);
        }

       #view1:not(.noDisplay) {
            flex: 1 1;
            display: flex;
            justify-content: center;
            min-width: 30%;
        } 
         #facsimile {
            flex: 1 1;
            height: var(--pb-facsimile-height);
            min-width: 70%;
        }
        #pbView {
            display: inline;
            right: 1em;
        }       
        
        #view1 pb-view {
            height: var(--pb-view-height);
            overflow: auto;
        }

        .content-body {
            position: relative;
            display: flex;
            justify-content: center;
            padding: 0 20px;
        }
        
         pb-page[unresolved] pb-facsimile {
            display: none;
        }

        .content-body pb-facsimile {
            flex: 1 1;
           
        }
        
         .content-body #pageInfo {
            flex: 1 1;
           
        }
